node_modules
lib
build
.cxx
.gradle
.kotlin
local.properties
*.log

example/node_modules
example/ios/Pods
example/ios/build
example/android/.cxx
example/android/build
example/android/app/build
example/probe/android/build
example/probe/android/.cxx
example/vendor
